* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    max-width: 750px;
    font-family: 'kaiti', 'songti', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}

a {
    color: #000;
    text-decoration: none;
}

ul,
ol,
dl {
    list-style: none;
}

input {
    outline: none;
}